* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: grotesk;
}

@font-face {
  font-family: grace;
  src: url(./../public//font/CoveredByYourGrace-Regular.ttf);
}


@font-face {
  font-family: grotesk;
  src: url(./../public/font/SpaceGrotesk-VariableFont_wght.ttf);
}

:root {
  --orange: #d96c2c;
}

a {
  text-decoration: none !important;
}

.headerHome_myLittleSwiper__EMPhu > .swiper-wrapper {
  display: flex !important;
  align-items: center !important;
  justify-content: center !important;
  backdrop-filter: blur(1px) !important;
}

.logo {
  color: var(--orange);
  font-size: 2.5rem;
  display: flex;
  align-items: center;
  padding: 10px;
}

.titleLogo{
  font-size: 1rem;
  color: #7A7A7A;
  font-weight: bold;
  padding: 5px;
  margin: 5px;
}

.textLogo{
  font-size: 3rem;
  color: #000000;
  font-weight: bold;
  padding:5px 10px;
  margin: 5px;
}

.containerSwiper {
  position: relative !important;
}

.littlePosition {
  position: absolute;
  right: 0%;
  bottom: 3%;
  width: 100%;
}


@media screen and (max-width:575px) {
  .textLogo{
    font-size: 2rem;
  }
}
@media screen and (min-width:576px) {
  .textLogo{
    font-size: 2rem;
  }
}
@media screen and (min-width:768px) {
  .textLogo{
    font-size: 3rem;
  }
}
@media screen and (min-width:1900px) {
  .containerExtra{
    max-width: 1320px;
    padding-right: calc(var(--bs-gutter-x)* 0.5);
    padding-left: calc(var(--bs-gutter-x)* 0.5);
    margin-right: auto;
    margin-left: auto;
  }
}