* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: grotesk;
}

@font-face {
  font-family: grace;
  src: url(./../public//font/CoveredByYourGrace-Regular.ttf);
}


@font-face {
  font-family: grotesk;
  src: url(./../public/font/SpaceGrotesk-VariableFont_wght.ttf);
}

:root {
  --orange: #d96c2c;
}

a {
  text-decoration: none !important;
}

.headerHome_myLittleSwiper__EMPhu > .swiper-wrapper {
  display: flex !important;
  align-items: center !important;
  justify-content: center !important;
  backdrop-filter: blur(1px) !important;
}
