.container {
  width: 100%;
  min-height: 70vh;
  background: url(/img/content3/background.jpg) no-repeat center;
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
}

.btnWhite {
  padding: 15px 40px;
  background-color: white;
  color: black;
  font-weight: bold;
  border: none;
  outline: none;
  margin: 30px 15px;
  display: block;
}

.textTrailer {
  font-family: grace;
  color: white;
  font-size: 2.5rem;
  padding: 10px;
  margin: 5px;
}

.btnPlay {
  width: 100px;
  height: 100px;
  border-radius: 50px;
  background-color: var(--orange);
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 2rem;
  margin: 20px;
  outline: 20px solid rgba(0, 0, 0, 0.333);
  transition: .5s all;
  animation: playBtn 1s ease-in  alternate infinite ;
  cursor: pointer;
}
@keyframes playBtn {
  0%{
    transform: scale(1);
  }
  100%{
    transform: scale(1.1);
  }
}
