.myLittleSwiper {
  width: 50% !important;
  position: absolute !important;
  right: 0% !important;
  bottom: 9% !important;
  height: 300px !important;
  padding: 10px !important;
  background-color: rgba(0, 0, 0, 0.7);
  box-shadow: 0px 10px 60px rgba(255, 255, 255, 0.1);
}

.swiper-wrapper {
  display: flex !important;
  align-items: center !important;
  justify-content: center !important;
  width: fit-content;
}

.swiperWrapper {
  width: 215px !important;
  margin-right: 10px !important;
  height: 104px !important;
}

.imgWrapper {
  width: 100% !important;
  height: 100% !important;
}

.imgBanner {
  filter: brightness(0.5);
}

.infoImgBanner {
  position: absolute;
  padding: 10px;
  margin: 5px;
  border: 1px solid red;
  top: 25%;
  left: 10%;
  z-index: 2;
}

.infoImgBanner > h3 {
  font-family: grace;
  color: var(--orange);
  text-align: center;
}

.infoImgTitle {
  color: white;
  font-size: 5rem;
  font-weight: bold;
}

.textTitle {
  font-size: 1.3rem;
  color: white;
}

.btnWhite{
  padding:15px 10px;
  margin: 5px;
  border: 2px solid transparent;
  outline: none;
  font-weight: .9rem;
  width: 200px;
  background-color: white;
  transition: .5s all;
}

.btnWhite:hover{
  border: 2px solid var(--orange);
  color: var(--orange);
}

.btnOrange{
  padding:15px 10px;
  margin: 5px;
  border: 2px solid transparent;
  outline: none;
  font-weight: .9rem;
  width: 200px;
  background-color: var(--orange);
  color: white;
  transition: .5s all;
}

.btnOrange:hover{
  border: 2px solid var(--orange);
  background-color: white;
  color: black;
}