.topSec {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px;
  background: url(/img/content4/bg-ticket-decoration.png) center no-repeat;
  background-size: cover;
  background-color: var(--orange);
  opacity: 0.1;
  /* mix-blend-mode: screen; */
}

.topSec>h3{
    color: white;
    font-size: 3rem; 
   
}
